* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Regular;
  src: url('./fonts/ProximaNova-Reg-webfont.eot');
  src: url('./fonts/ProximaNova-Reg-webfont.eot?#iefix') format('embedded-opentype'), url('./fonts/ProximaNova-Reg-webfont.woff') format('woff'), url('./fonts/ProximaNova-Reg-webfont.ttf') format('truetype'), url('./fonts/ProximaNova-Reg-webfont.svg#Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: Semibold;
  src: url('./fonts/ProximaNova-Sbold-webfont.eot');
  src: url('./fonts/ProximaNova-Sbold-webfont.eot?#iefix') format('embedded-opentype'), url('./fonts/ProximaNova-Sbold-webfont.woff') format('woff'), url('./fonts/ProximaNova-Sbold-webfont.ttf') format('truetype'), url('./fonts/ProximaNova-Sbold-webfont.svg#Semibold') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

.hide {
  display: none;
}

.block {
  display: block;
}

.appIframe {
  border: 0;
  width: 100%;
  height: 100vh;
}

.headerDiv {
  width: 100%;
  background: #fff;
  padding: 10px 3px 10px 15px;
  background-image: linear-gradient(to right, #a1a1a1 23%, rgba(255, 255, 255, 0) 0);
  background-position: bottom;
  background-size: 6px 1px;
  background-repeat: repeat-x;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  z-index: 2;
  box-sizing: border-box;
}

.headerInnerDiv {
  width: 100%;
  position: relative
}

.headerLogo {
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.headerTitle {
  display: inline-block;
  color: #333;
  font: 15px 'Semibold', Arial, Helvetica, sans-serif;
  vertical-align: middle;
  margin-left: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: calc(100% - 100px);
}

/*
  loading css start
*/

.posRel {
  position: relative;
}

.dash-loading-div {
  position: absolute;
  left: 50%;
  top: 40%
}

.dash-loader:before, .dash-loader:after, .dash-loader {
  border-radius: 50%;
  width: 1em;
  height: 1em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out
}

.dash-loader {
  font-size: 10px !important;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s
}

.dash-loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s
}

.dash-loader:after {
  left: 1.5em
}

.dash-loader:before, .dash-loader:after {
  content: '';
  position: absolute;
  top: 0
}

@-webkit-keyframes load7 {
  0%, 80%, 100% {
    box-shadow: 0 1.5em 0 -1.3em #00a3fe
  }
  40% {
    box-shadow: 0 1.5em 0 0 #00a3fe
  }
}

@keyframes load7 {
  0%, 80%, 100% {
    box-shadow: 0 1.5em 0 -1.3em #00a3fe
  }
  40% {
    box-shadow: 0 1.5em 0 0 #00a3fe
  }
}

.hide {
  display: none;
}

/* loading css end */